<div class="card">
    <div class="card-header">Edit</div>
        <div class="card-body">
            <form action="/hj9h8765qzf5jizwwnua/editcandidate/<%= data[0].CandidateId %>" method="POST">  
                <div class="container">
                    <label>First Name(s): </label>
                    <input type="text" name="candidatefname" value="<%= data[0].fName %>"required>
                    <label>Surname: </label>
                    <input type="text" name="candidatelname" value="<%= data[0].lName %>" required>
                    <label>Email Address: </label>
                    <input type="text" name="candidateemail" value="<%= data[0].Email %>" required>
                    <label>Registered for Election: </label>
                        <%
                        if(data.length > 0)
                        {
                            %>
                            <select name="election" id="electionSelect">
                                <% electionData.forEach(function(election) { %>
                                <% if (election.Id === data[0].ElectionId) { %>
                                    <option value="<%= election.Id %>" selected><%= election.Description %></option>
                                <% } else { %>
                                    <option value="<%= election.Id %>"><%= election.Description %></option>
                                <% } %>
                                <% }); %>
                            </select>
                            <select name="category" id="categorySelect">
                                <% categoryData.forEach(function(category) { %>
                                <option value="<%= category.CategoryId %>"
                                    data-election-id="<%= category.ElectionId %>"
                                <% if (category.CategoryId === data[0].CategoryId) { %>
                                    selected
                                <% } %>><%= category.CategoryName %></option>
                                <% }); %>
                            </select>
                            <%
                        }
                        else
                        {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                        <%
                        }
                        %>
                        <label>Username: </label>
                        <input type="text" name="candidateusername" value="<%= data[0].Username %>" required>
                        <input type="password" name="candidatepassword" id ="candidatepassword" value="<%= data[0].Password %>" required>
                        <input type="checkbox" onclick="showPW()">Show Password
                    <button type="submit" value="edit">Save Changes</button>
                </div>
            </form>
            <script>
                function showPW() {
                    var pw = document.getElementById("candidatepassword");
                    if (pw.type === "password") {
                        pw.type = "text";
                    } else {
                        pw.type = "password";
                    }
                }
                $(document).ready(function(){
                    const electionSelect = document.querySelector("#electionSelect");
                    const categorySelect = document.querySelector("#categorySelect");
                    const originalOptions = Array.from(categorySelect.options);

                    function filterCategoryOptions() {
                        const selectedElectionId = electionSelect.value;
                        const filteredOptions = originalOptions.filter(option => parseInt(option.getAttribute("data-election-id")) == parseInt(selectedElectionId));
                        categorySelect.innerHTML = "";
                        console.log(filteredOptions);
                        filteredOptions.forEach(option => categorySelect.add(option));
                    }

                    electionSelect.addEventListener("change", filterCategoryOptions);
                    filterCategoryOptions();
                });
            </script>
        </div>
    </div>
</div>