<div class="card">
    <div class="card-header">
        <div class="row">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="col"><%= data[0].Description %></div>
                <form action="/hj9h8765qzf5jizwwnua/edit/<%= data[0].Id %>" method="GET">
                    <button type="submit" class="primaryBtn" style="margin-right: 15% !important; padding-right:1.5rem; padding-left: 1.5rem;"><i class="fas fa-edit"></i></button>
                </form>
                <form action="/hj9h8765qzf5jizwwnua/delete/<%= data[0].Id %>" method="GET">
                    <button type="submit" class="primaryBtn" style="margin-left: 15% !important; padding-right:1.5rem; padding-left: 1.5rem; background-color: red;"><i class="fas fa-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Date:</strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <%= new Date(data[0].ElectionDate).toLocaleString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Opens:</strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <%= new Date(data[0].OpenTime).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Closes:</strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <%= new Date(data[0].CloseTime).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }); %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Categories</strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <ol>
                        <%
                        categoryData = data.filter((v, i, a) => v.CategoryId !== null && a.findIndex(t => (t.CategoryId === v.CategoryId)) === i);
                        if (categoryData.length > 0) {
                            categoryData.forEach(function(data){
                        %>
                            <li class = "category-content"> <strong><%= data.CategoryName %></strong> <br>
                            <%= data.CategoryDescription %> <br>
                            </li>
                        <%
                            });
                        } else {
                        %>
                                No Categories Found for this Election
                        <%
                            }
                        %>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <strong>Candidates</strong>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <ul>
                    <%
                        candidateData = data.filter((v, i, a) => v.CandidateId !== null && v.CandidateName !== 'Reopen Election' && a.findIndex(t => (t.CandidateId === v.CandidateId)) === i);
                        if (candidateData.length > 0) {
                            candidateData.forEach(function(data) {
                    %>
                            <li class="candidateBulletList"><a href="/hj9h8765qzf5jizwwnua/viewcandidate/<%= data.CandidateId %>"><%= data.CandidateName %></a></li>
                    <%
                        });
                    } else {
                    %>
                            No Candidates Found for this Election
                    <%
                        }
                    %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>