<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title></title>
    </head>
    <body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3"><%= title %></h1>

        <% if(action == 'add') { %>
            <div class="card">
                <div class="card-header">Sample Form</div>
                <div class="card-body">
                    <form action="/hj9h8765qzf5jizwwnua/election-add" method="POST">  
                        <div class="container">   
                            <label>Election Description: </label>
                            <input type="text" placeholder="Enter Description" name="electiondescription" required>
                            <label>Election Date: </label>
                            <input type="date" name="electiondate" required>
                            <label>Election Opening Time: </label>
                            <input type="time" name="electionopeningtime" required>
                            <label>Election Closing Time: </label>
                            <input type="time" name="electionclosingtime" required>
                            <button type="submit" value="add">Add</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        <% } else if(action == 'addCandidate') { %>
            <div class="card">
                <div class="card-header">Add Candidate</div>
                <div class="card-body">
                    <form action="/hj9h8765qzf5jizwwnua/candidate-add" method="POST">  
                        <div class="container">
                            <label>First Name(s): </label>
                            <input type="text" placeholder="Enter First Name" name="candidatefname" required>
                            <label>Surname: </label>
                            <input type="text" placeholder="Enter Surname" name="candidatelname" required>
                            <label>Email Address: </label>
                            <input type="text" placeholder="Enter Email" name="candidateemail" required>
                            <label>Registering for Election: </label>
                                <%
                                if(data.length > 0)
                                {
                                    %>
                                    <select name="election">
                                        <%
                                        electionData = data.filter((v, i, a) => a.findIndex(t => (t.Id === v.Id)) === i);
                                        electionData.forEach(function(election){
                                        %>
                                            <option value=<%= election.Id %>> <%= election.Description %> </option>
                                        <%
                                        });
                                        %>
                                    </select>
                                    <%
                                }
                                else
                                {
                                    %>
                                    <tr>
                                        <td colspan="5">No Data Found</td>
                                    </tr>
                                <%
                                }
                                %>
                            <button type="submit" value="addCandidate">Add</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        <% } else if(action == 'list'){ %>
        <form action="/hj9h8765qzf5jizwwnua/register-election" method="POST">
            <button type="submit">Register a New Election</button>
        </form>
            
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">Elections</div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Election</th>
                            <th>Date</th>
                        </tr>
                        <%
                        if(data.length > 0)
                        {
                            electionData = data.filter((v, i, a) => a.findIndex(t => (t.Id === v.Id)) === i);
                            electionData.forEach(function(election){
                        %>
                        <tr>
                            <td><a href="/hj9h8765qzf5jizwwnua/view/<%= election.Id %>" class="btn btn-primary btn-sm"><%= election.Description %></a></td>
                            <td><%= election.ElectionDate %></td>
                        </tr>
                        <%
                            });
                        }
                        else
                        {
                        %>
                        <tr>
                            <td colspan="5">No Data Found</td>
                        </tr>
                        <%
                        }
                        %>
                    </table>
                </div>
            </div>
        </div>
        <form action="/hj9h8765qzf5jizwwnua/register-candidate" method="POST">
            <button type="submit">Register a New Candidate</button>
        </form>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">Elections</div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        <%
                        if(data.length > 0)
                        {
                            candidateData = data.filter((v, i, a) => a.findIndex(t => (t.CandidateId === v.CandidateId)) === i);
                            candidateData.forEach(function(candidate){
                                if (candidate.CandidateId) {
                        %>
                        <tr>
                            <td><a href="/hj9h8765qzf5jizwwnua/viewcandidate/<%= candidate.CandidateId %>" class="btn btn-primary btn-sm"><%= candidate.fName %> <%= candidate.lName %></a></td>
                            <td><%= candidate.Email %></td>
                        </tr>
                        <%
                                } else {}
                            });
                        }
                        else
                        {
                        %>
                        <tr>
                            <td colspan="5">No Data Found</td>
                        </tr>
                        <%
                        }
                        %>
                    </table>
                </div>
            </div>
        </div>

        <% } else if(action == 'view') { %>
            <div class="card">
                <div class="card-header">
                    <%= data[0].Description %>
                    <form action="/hj9h8765qzf5jizwwnua/edit/<%= data[0].Id %>" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/hj9h8765qzf5jizwwnua/delete/<%= data[0].Id %>" method="GET">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <strong>Date:</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <%= data[0].ElectionDate %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <strong>Opens:</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <%= data[0].OpenTime %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <strong>Closes:</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <%= data[0].CloseTime %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <!--TODO: CANDIDATE VIEW LINKS HERE-->
                                    <strong>Candidates</strong>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <ul>
                                    <%
                                        data.forEach(function(data){
                                            if (data.CandidateName) {
                                    %>
                                        <li><a href="/hj9h8765qzf5jizwwnua/viewcandidate/<%= data.CandidateId %>"><%= data.CandidateName %></a></li>
                                    <%
                                    }
                                    else if (!data.CandidateName)
                                    {
                                    %>
                                    No Candidates Found for this Election
                                    <%
                                    }});
                                    %>
                                    </ul>
                                    </td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

            <% } else if(action == 'viewcandidate') { %>
                <div class="card">
                    <div class="card-header">
                        <%= data[0].fName %> <%= data[0].lName %>
                        <form action="/hj9h8765qzf5jizwwnua/editcandidate/<%= data.CandidateId %>" method="GET">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/hj9h8765qzf5jizwwnua/deletecandidate/<%= data.CandidateId %>" method="GET">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <strong>Email:</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <%= data[0].Email %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <strong>Category Running For:</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <%= data[0].CategoryName %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <strong>Election:</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <%= data[0].Description %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <strong>Number of Votes:</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <%= data[0].NumVotes %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <strong>Credentials:</strong>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        Username: <%= data[0].Username %>
                                    </div>
                                    <div class="mb-3">
                                        Password: <div id ="CandidatePW">●●●●●●●●●●</div>
                                    </div>
                                    <div class="mb-3">
                                        <button id="PWBtn" type="button">Show Password</button>
                                    </div>
                                </div>
                            </div>
                        <script>
                            //Toggle candidate password view
                            $(document).on("click", "#PWBtn", function(){
                                var pw = $("#CandidatePW");
                                var btn = $("#PWBtn");
                                if ($("#CandidatePW").html() =="●●●●●●●●●●") {
                                    $("#CandidatePW").html("<%= data[0].Password %>");
                                    $("#PWBtn").html("Hide Password");
                                } else {
                                    $("#CandidatePW").html("●●●●●●●●●●")
                                    $("#PWBtn").html("Show Password");
                                }
                            })
                        </script>
                    </div>
                </div>

            <% } else if(action == 'edit') { %>
                <div class="card">
                    <div class="card-header">Edit</div>
                    <div class="card-body">
                        <form action="/hj9h8765qzf5jizwwnua/edit/<%= data.Id %>" method="POST">  
                            <div class="container">
                                <label>Election Description:</label>
                                <input type="text" name="electiondescription" value="<%= data.Description %>" required>
                                <label>Election Date: </label>
                                <input type="date" name="electiondate" id="electiondate" required>
                                <label>Election Opening Time: </label>
                                <input type="time" name="electionopeningtime" id="electionopeningtime" required>
                                <label>Election Closing Time: </label>
                                <input type="time" name="electionclosingtime" id="electionclosingtime" required>
                                <button type="submit" value="edit">Save Changes</button>
                            </div>
                        </form>
                        <script>
                            //Format date
                            var splits = "<%= data.ElectionDate %>".split(" ");
                            var monthAbbr = splits[1];
                            var day = splits[2];
                            var year = splits[3];
                            var month = '';
                            monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];

                            for (i=0; i<12; i++){
                                if (monthAbbr === monthNames[i]){
                                    if (i>10){
                                        month = String(i + 1);
                                    }
                                    else {
                                        month = '0' + String(i + 1);
                                    }
                                }
                            }
                            
                            var date = year + '-' + month + '-' + day;
                            document.getElementById("electiondate").valueAsDate = new Date(date);

                            //Format times
                            var opentimesplits = "<%= data.OpenTime %>".split(" ");
                            var opentime = opentimesplits[4];
                            document.getElementById("electionopeningtime").value = opentime;

                            var closetimesplits = "<%= data.CloseTime %>".split(" ");
                            var closetime = closetimesplits[4];
                            document.getElementById("electionclosingtime").value = closetime;
                        </script> 
                    </div>
                    </div>
                </div>
            <% } %>
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>