<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet">

    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Dropzone -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <link rel="icon" type="image/png" href="/assets/Logo.png">
    <title>SETUSU Vote - Candidates</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg">
          <h1 id="webpage-title" class="navbar-title"><%= title %></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/elections">Elections</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="candidateList" style="min-height: 75vh;">
        <h2>Upcoming Candidates</h2>
          <% 
            const now = new Date();
            const upcomingElections = data.filter((election) => new Date(election.ElectionDate) >= now);

            const sortedElections = upcomingElections.sort((a, b) => new Date(a.ElectionDate) - new Date(b.ElectionDate));

            const ongoingElections = data.filter((v) => {
              const electionDate = new Date(v.ElectionDate);
              const openTime = new Date(v.OpenTime);
              const closeTime = new Date(v.CloseTime);
              const sameDate = now.toDateString() === electionDate.toDateString();
              const withinInterval = now >= openTime && now < closeTime;
              return v.Id !== null && sameDate && withinInterval;
            });
            const candidateData = ongoingElections.filter((v, i, a) => v.CandidateId !== null && a.findIndex(t => (t.CandidateId === v.CandidateId)) === i && v.fName !== 'Reopen' && v.lName !== 'Election').concat(sortedElections.filter((v, i, a) => v.CandidateId !== null && a.findIndex(t => (t.CandidateId === v.CandidateId)) === i && v.fName !== 'Reopen' && v.lName !== 'Election'));

            if (candidateData.length > 0) {
              const groups = Math.ceil(candidateData.length / 5);
              for (let i = 0; i < groups; i++) {
                const groupStart = i * 5;
                const groupEnd = groupStart + 5;
                const groupCandidates = candidateData.slice(groupStart, groupEnd);
          %>
                <div class="ui five column stackable grid" id ="electionCards">
                  <% 
                    groupCandidates.forEach((candidate) => {
                  %>
                    <div class="column">
                      <div class="ui fluid card" onclick="location.href='/candidate/<%=candidate.CandidateId%>'" style="cursor: pointer;">
                        <div class="image">
                            <% if(candidate.Picture_Path) { %>
                            <img src="<%= candidate.Picture_Path %>" alt ="Candidate Thumbnail">
                            <% } else { %>
                            <img src="/assets/Person-Placeholder.png" alt ="Candidate Thumbnail">
                            <% } %>
                        </div>
                        <div class="content">
                            <p class="header"><%= candidate.fName %> <%= candidate.lName %></p>
                            <div class="meta">
                            <span><%= candidate.Description %></span>
                            </div>
                            <div class="description">Running for <%= candidate.CategoryName %> </div>
                        </div>
                        </div>
                    </div>
                  <% 
                    });
                  %>
                </div>
          <% 
              }
            } else {
          %>
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <p class="header">No Candidates Yet</p>
                    <div class="meta">
                      <span>Check back later!</span>
                    </div>
                  </div>
                </div>
              </div>
          <% 
            }
          %>
          <h2>Past Candidates</h2>
        <%
            const pastElections = data.filter((v, i, a) => v.Id !== null && (new Date(v.ElectionDate).setHours(0, 0, 0, 0) < now || new Date(v.CloseTime) < now));
            const sortedPastElections = pastElections.sort((a, b) => new Date(a.ElectionDate) + new Date(b.ElectionDate));

            const candidatePastData = sortedPastElections.filter((v, i, a) => v.CandidateId !== null && a.findIndex(t => (t.CandidateId === v.CandidateId)) === i && v.fName !== 'Reopen' && v.lName !== 'Election');
            if (candidatePastData.length > 0) {
              const pastGroups = Math.ceil(candidatePastData.length / 5);
              for (let i = 0; i < pastGroups; i++) {
                const groupPastStart = i * 5;
                const groupPastEnd = groupPastStart + 5;
                const groupPastCandidates = candidatePastData.slice(groupPastStart, groupPastEnd);
          %>
                <div class="ui five column stackable grid" id ="electionCards">
                  <% 
                    groupPastCandidates.forEach((candidate) => {
                  %>
                    <div class="column">
                      <div class="ui fluid card" onclick="location.href='/candidate/<%=candidate.CandidateId%>'" style="cursor: pointer;">
                        <div class="image">
                            <% if(candidate.Picture_Path) { %>
                            <img src="<%= candidate.Picture_Path %>" alt ="Candidate Thumbnail">
                            <% } else { %>
                            <img src="/assets/Person-Placeholder.png" alt ="Candidate Thumbnail">
                            <% } %>
                        </div>
                        <div class="content">
                            <p class="header"><%= candidate.fName %> <%= candidate.lName %></p>
                            <div class="meta">
                            <span><%= candidate.Description %></span>
                            </div>
                            <div class="description">Running for <%= candidate.CategoryName %> </div>
                        </div>
                        </div>
                    </div>
                  <% 
                    });
                  %>
                </div>
          <% 
              }
            } else {
          %>
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <p class="header">No Candidates Yet</p>
                    <div class="meta">
                      <span>Check back later!</span>
                    </div>
                  </div>
                </div>
              </div>
          <% 
            }
          %>
        </div>
      </div>
    <img class="logoBubble" src="assets/Logo-Bubble.png" alt="SETUSU Logo">
  </body>

  <footer>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4 class="footer-h4">Follow us on</h4>
        <div class="social-icons">
          <div>
            <h5>Waterford Campus</h5>
            <div class="wd-links">
              <a href="https://www.instagram.com/setusu.wd/" target="_blank"><i class="fab fa-instagram fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              <a href="https://twitter.com/setusu_wd/" target="_blank"><i class="fab fa-twitter fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              <a href="https://www.facebook.com/setusu.wd/" target="_blank"><i class="fab fa-facebook fa-3x" style="color:white; margin-right: 1vw;"></i></a>
            </div>
          </div>
          <div>
            <h5>Carlow Campus</h5>
            <div class="cw-links">
              <a href="https://www.instagram.com/setusu.cw/" target="_blank"><i class="fab fa-instagram fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              <a href="https://twitter.com/setusu_cw/" target="_blank"><i class="fab fa-twitter fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              <a href="https://www.facebook.com/setusu.cw/" target="_blank"><i class="fab fa-facebook fa-3x" style="color:white; margin-right: 1vw;"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12" id="copyright">
        <h4>&copy; 2023 SETUSU. All rights reserved.</h4>
        <p>Designed by Rebecca Troy (20088744)</p>
      </div>
    </div>
  </footer>
  <script>
    const placeholderImages = document.querySelectorAll('.placeholder-icon');

    const placeholderImageSources = [
      '/assets/Placeholder-icon1.jpg',
      '/assets/Placeholder-icon2.jpg'
    ];

    placeholderImages.forEach(function(img) {
      const randomIndex = Math.floor(Math.random() * placeholderImageSources.length);
      img.src = placeholderImageSources[randomIndex];
    });

  </script>
</html>