<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet">

    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="/assets/Logo.png">
    <title>SETUSU Vote</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg">
          <h1 id="webpage-title" class="navbar-title">SETUSU Vote</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/candidates">Candidates</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/elections">Elections</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="content-wrapper">
        <div class="header-image">
          <h2 class="campaign-header"><%= data[0].fName %> <%= data[0].lName %> for <%= data[0].CategoryName %>
            <br><span class="candidateslogan" id="candidateslogan"><%= data[0].Slogan %></span>
          </h2>
        </div>
        <% if (data[0].Picture_Path) { %>
            <img src="<%= data[0].Picture_Path %>" alt="Main Campaign Image" class="campaign-thumbnail">
        <% } else { %>
            <img src="/assets/Person-Placeholder.png" alt="Main Campaign Image" class="campaign-thumbnail">
        <% } %>
        <div class="all-content">
            <div class = "contact clearfix">
                <ul>
                    <li>
                        <strong>Running in:</strong>
                        <br><%= data[0].Description %>
                    </li>
                    <li>
                        <strong>Contact Number:</strong>
                        <br><%= data[0].ContactNo %>
                    </li>
                    <li>
                        <strong>Email:</strong>
                        <br><%= data[0].Email %>
                    </li>
                    <li>
                        <a href="<%= data[0].Facebook %>"><i class="fab fa-facebook-square fa-3x"></i></a>
                        <a href="<%= data[0].Twitter %>"><i class="fab fa-twitter-square fa-3x"></i></a>
                        <a href="<%= data[0].Instagram %>"><i class="fab fa-instagram fa-3x"></i></a>
                    </li>
                    <li>
                        <button class="primaryBtn" onclick="location.href='/election/<%= data[0].Id %>'" id="election-link">MORE ABOUT THIS ELECTION</button>
                    </li>
                </ul>
            </div>
            <div class="info clearfix">
                <div class = "manifesto">
                    <h3 class="manifesto-header">Manifesto</h3>
                    <% var manifestoFound = false;
                    var manifesto = "";
                    data.forEach(function(item) {
                        if (item.Overview) {
                        manifestoFound = true;
                        manifesto = item.Overview;
                        }
                    });
                    if (manifestoFound) { %>
                        <p class="manifesto-content"><%= manifesto %></p>
                    <% } else { %>
                        <p class="manifesto-content">No manifesto just yet ... check back later!</p>
                    <% } %>
                </div>

                <div class="agenda">
                    <h3 class="agenda-header">Agenda</h3>
                    <ol>
                    <% var agendasFound = false;
                    var agendas = "";
                    agendaData = data.filter((v, i, a) => v.AgendaId !== null && a.findIndex(t => (t.AgendaId === v.AgendaId)) === i);
                    agendaData.forEach(function(item) {
                        if (item.Summary) {
                        agendasFound = true;
                    %>
                            <li class = "agenda-content"> <%= item.Summary%></li>
                    <%
                        }
                    });
                    %>
                    </ol>
                    <%
                    if (!agendasFound) { %>
                        <p class="agenda-content">No agenda just yet ... Please check back later!</p>
                    <% } %>
                </div>

                <div class="candidate-media">
                    <h3 class="media-header">More from <%= data[0].fName %>...</h3>
                    <% var images = [];
                        var mediaData = data.filter((v, i, a) => v.file_id !== null && a.findIndex(t => (t.file_id === v.file_id)) === i);
                        if (mediaData.length === 0) { %>
                        <p class="media-content">Nothing yet ... Check back later!</p>
                    <% } else { %>
                    
                    <div id="campaign-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <% for (var i = 0; i < mediaData.length; i+=3) { %>
                            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                <div class="row">
                                <% for (var j = i; j < i+3 && j < mediaData.length; j++) { %>
                                    <% var media = mediaData[j]; %>
                                    <% images.push(media.File_Path); %>
                                    <% if (media.Type === 'image') { %>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <img src="<%= media.File_Path %>" alt="Campaign Image" class="campaign-image img-fluid" onclick="openFullscreen(this)">
                                    </div>
                                    <% } else if (media.Type === 'video') { %>
                                    <div class="col-12 col-sm-6 col-md-4">
                                        <div class="campaign-video-wrapper">
                                        <video class="campaign-video" poster="<%= media.File_Path %>?width=400" controls onclick="openFullscreen(this)">
                                            <source src="<%= media.File_Path %>" type="video/mp4">
                                        </video>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% if (images.length > 3) { %>
                            <a class="carousel-control-prev" href="#campaign-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#campaign-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </a>
                        <% } %>
                        </div>
                    </div>

                    <div id="mobile-campaign-carousel" class="carousel slide" data-ride="carousel" style="display:none">
                        <div class="carousel-inner">
                            <% for (var i = 0; i < mediaData.length; i++) { %>
                                <% var media = mediaData[i]; %>
                                <% images.push(media.File_Path); %>
                                    <% if (media.Type === 'image') { %>
                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                            <div class="col-12 col-sm-6 col-md-4">
                                                <img src="<%= media.File_Path %>" alt="Campaign Image" class="campaign-image img-fluid">
                                            </div>
                                        </div>
                                    <% } else if (media.Type === 'video') { %>
                                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                                            <div class="col-12 col-sm-6 col-md-4">
                                                <div class="campaign-video-wrapper">
                                                <video class="campaign-video" poster="<%= media.File_Path %>?width=400" controls>
                                                    <source src="<%= media.File_Path %>" type="video/mp4">
                                                </video>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <a class="carousel-control-prev" href="#mobile-campaign-carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#mobile-campaign-carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
        </div>
    </div>
    </body>

    <img class="logoBubble" src="/assets/Logo-Bubble.png" alt="SETUSU Logo">

    <footer>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h4 class="footer-h4">Follow us on</h4>
          <div class="social-icons">
            <div>
              <h5>Waterford Campus</h5>
              <div class="wd-links">
                <a href="https://www.instagram.com/setusu.wd/" target="_blank"><i class="fab fa-instagram fa-3x" style="color:white; margin-right: 1vw;"></i></a>
                <a href="https://twitter.com/setusu_wd/" target="_blank"><i class="fab fa-twitter fa-3x" style="color:white; margin-right: 1vw;"></i></a>
                <a href="https://www.facebook.com/setusu.wd/" target="_blank"><i class="fab fa-facebook fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              </div>
            </div>
            <div>
              <h5>Carlow Campus</h5>
              <div class="cw-links">
                <a href="https://www.instagram.com/setusu.cw/" target="_blank"><i class="fab fa-instagram fa-3x" style="color:white; margin-right: 1vw;"></i></a>
                <a href="https://twitter.com/setusu_cw/" target="_blank"><i class="fab fa-twitter fa-3x" style="color:white; margin-right: 1vw;"></i></a>
                <a href="https://www.facebook.com/setusu.cw/" target="_blank"><i class="fab fa-facebook fa-3x" style="color:white; margin-right: 1vw;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12" id="copyright">
          <h4>&copy; 2023 SETUSU. All rights reserved.</h4>
          <p>Designed by Rebecca Troy (20088744)</p>
        </div>
      </div>
    </footer>
    <script>
        if (window.matchMedia("(max-width: 991px)").matches) {
            document.getElementById("campaign-carousel").style.display = "none";
            document.getElementById("mobile-campaign-carousel").style.display = "block";
        } else {
            document.getElementById("campaign-carousel").style.display = "flex";
            document.getElementById("mobile-campaign-carousel").style.display = "none";
        }

        function openFullscreen(elem) {
            var fullscreenDiv = document.createElement('div');
            fullscreenDiv.id = 'fullscreen';
            var fullscreenElem = document.createElement('div');
            fullscreenElem.innerHTML = elem.outerHTML;
            if (fullscreenElem.querySelector('img')) {
                fullscreenElem.querySelector('img').removeAttribute('onclick');
            }
            else {
                var videoElement = fullscreenElem.querySelector('video');
                videoElement.removeAttribute('onclick');
                videoElement.setAttribute('autoplay', true);
            }
            fullscreenDiv.appendChild(fullscreenElem);
            document.body.appendChild(fullscreenDiv);

            fullscreenDiv.style.display = 'flex';
            fullscreenDiv.style.alignItems = 'center';
            fullscreenDiv.style.justifyContent = 'center';
            fullscreenDiv.style.position = 'fixed';
            fullscreenDiv.style.top = '0';
            fullscreenDiv.style.left = '0';
            fullscreenDiv.style.width = '100vw';
            fullscreenDiv.style.height = '100vh';
            fullscreenDiv.style.background = 'rgba(0, 0, 0, 0.8)';
            fullscreenDiv.style.backdropFilter = 'blur(10px)';

            fullscreenDiv.addEventListener('click', function(e) {
                if (e.target === fullscreenDiv) {
                    fullscreenDiv.remove();
                }
            });
        }  
    </script>
  </html>