<div id="loading-screen" style="display:none">
    <div class="loader"></div>
</div>

<div class="container-vote" id="container-vote">
    <% if (categorydata.length === 0) { %>
        <h1>No Categories Found for this Election. <br> Please Try Again Later.</h1>
    <% } else if (message === 'Success') { %>
        <div class="vote-success" id="vote-success">
            <h3>Vote Submitted Successfully!</h3>
            <p id="successMessage"> Thank you for voting.</p>
            <button class="primaryBtn" onclick="location.href='/'">BACK TO HOME</button>
        </div>
    <% } else if (currentcategory >= categorydata.length) { %>
        <h3>Confirm your choices</h3>
        <div class ="choices">
            <form method="POST" action="/vote/<%= data[0].Id %>/submit">
            <% Object.keys(selectedOptions).forEach(function(categoryIndex) { %>
                <h4><%= categorydata[categoryIndex].CategoryName %></h4>
                <% if (selectedOptions[categoryIndex] !== '-1') { %>
                    <% for (let i = 0; i < data.length; i++) { %>
                        <% if (data[i].CandidateId === parseInt(selectedOptions[categoryIndex])) { %>
                            <h5><%= data[i].fName %> <%= data[i].lName %> </h5>
                            <input type="hidden" name="<%= categorydata[categoryIndex].CategoryId %>-<%= parseInt(selectedOptions[categoryIndex]) %>" value="<%= categorydata[categoryIndex].CategoryId %>-<%= parseInt(selectedOptions[categoryIndex]) %>">
                        <% } %>
                    <% } %>
                <% } else { %>
                <p>No candidate selected</p>
                <% } %>
            <% }); %>
            <button class="primaryBtn" id="cancel-btn" onclick="previousCategory('<%= data[0].Id %>', '<%= currentcategory %>', event)">BACK</button>
            <button class="primaryBtn" id="submit-vote" type="submit">SUBMIT VOTE</button>
            </form>
        </div>
    <% } else { %>
        <% var stepNo = currentcategory + 1 %>
        <h3>Step <%= stepNo %>/<%= categorydata.length %>: Voting for the Position of: <strong><u><%= categorydata[currentcategory].CategoryName %></u></strong></h3>

        <% var candidatesFound = false; %>

        <% data.forEach(function(candidate) {
        if (candidate.CategoryId === categorydata[currentcategory].CategoryId) {
            candidatesFound = true;
            var selectedOption = selectedOptions[currentcategory];
        %>
        <div class="card h-100" id="vote-option">
            <div class="row g-0 align-items-center h-100">
                <div class="col-3 h-100">
                    <%
                        if (candidate.Picture_path) {
                    %>
                        <img src="<%= candidate.Picture_path %>" alt="Candidate Image" class="card-img-top h-100">
                    <%
                        } else {
                    %>
                        <img src="/assets/Person-Placeholder.png" alt="Candidate Image" class="card-img-top h-100">
                    <%
                        }
                    %>
                </div>
                <div class="col-7 d-flex align-items-center h-100">
                    <div class="card-body" id="vote-name">
                        <h4 class="card-name"><%= candidate.fName %> <%= candidate.lName %></h2>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-left h-100">
                    <label class="radio-container">
                        <input type="radio" name="vote-option-candidate" value="<%= candidate.CandidateId %>" onchange="checkSelection()" <% if (selectedOption === candidate.CandidateId.toString()) { %>checked<% } %>>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <% } }); %>


        <div id="errorMessageVote">
            <% message %>
        </div>

        <% if ((categorydata.length > 1) && (candidatesFound)) { %>
            <% if (currentcategory > 0) { %>
                <button class="primaryBtn" id="back-btn" onclick="previousCategory('<%= data[0].Id %>', '<%= currentcategory %>', event)">← PREVIOUS</button>
            <% } %>
            <button class="primaryBtn" disabled id="confirm-btn1" onclick="nextCategory('<%= data[0].Id %>', '<%= currentcategory %>')">NEXT →</button>
        <% } %>
    <% } %>
</div>

<script>
    function checkSelection() {
        var radios = document.getElementsByName("vote-option-candidate");
        var nextButton = document.getElementById("confirm-btn1");
        var anyChecked = false;
        
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                anyChecked = true;
                break;
            }
        }
        
        if (anyChecked) {
            nextButton.removeAttribute("disabled");
        } else {
            nextButton.setAttribute("disabled", "disabled");
        }
    }

    function nextCategory(electionId, currentcategory) {
        let selectedOption = $('input[name=vote-option-candidate]:checked').val();
        if (!selectedOption) {
            selectedOption = "-1";
        }
        const url = `/vote/${electionId}/${currentcategory}?fromButton=true&selectedOption=${selectedOption}`;
        fetch(url)
            .then(response => response.text())
            .then(data => {
                var tempContainer = $('<div>').html(data);
                var container = tempContainer.find('#container-vote');
                $('#container-vote').html(container.html());
                checkSelection();
            })
            .catch(error => console.error(error));
    }

    function previousCategory(electionId, currentcategory, event) {
        event.preventDefault();
        let selectedOption = $('input[name=vote-option-candidate]:checked').val();
        if (!selectedOption) {
            selectedOption = "-1";
        }
        const url = `/vote/${electionId}/${currentcategory}?fromPrevButton=true&selectedOption=${selectedOption}`;
        fetch(url)
            .then(response => response.text())
            .then(data => {
                var tempContainer = $('<div>').html(data);
                var container = tempContainer.find('#container-vote');
                $('#container-vote').html(container.html());
                checkSelection();
            })
            .catch(error => console.log(error));
    }

    function submitVote(electionId, currentcategory) {
        let selectedOption = $('input[name=vote-option-candidate]:checked').val();
        if (!selectedOption) {
            selectedOption = "-1";
        }
        const url = `/vote/${electionId}/${currentcategory}?fromPrevButton=true&selectedOption=${selectedOption}`;
        document.getElementById('loading-screen').style.display = 'flex';
        fetch(url)
            .then(response => response.text())
            .then(data => {
                var tempContainer = $('<div>').html(data);
                var container = tempContainer.find('#container-vote');
                $('#container-vote').html(container.html());
                document.getElementById('loading-screen').style.display = 'none';
            })
            .catch(error => console.log(error));
    }

</script>