<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <link href="https://fonts.cdnfonts.com/css/aileron" rel="stylesheet">

        <!-- CSS-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Dropzone -->
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

        <title><%= title %></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg d-flex justify-content-between">
            <h1 id="webpage-title"><%= title %></h1>
            <div class="navbar-nav ms-auto">
                <div class="nav-item">
                    <a class="nav-link" href="/">Back to Home Page</a>
                </div>
            </div>
        </nav>
        <%
            if(data.length > 0)
            {
        %>
            <h2> <%= data[0].Description %></h2>
            <% if(action == 'basicAuthentication') { %>
                <%- include ('vote/basic_authentication.ejs'); %>

            <% } else if(action == 'advancedAuthentication') { %>
                <%- include ('vote/advanced_authentication.ejs'); %>

            <% } else if(action == 'vote') { %>
                <%- include ('vote/vote_category.ejs'); %>

            <% } else if(action == 'confirm') { %>
                <%- include ('vote/confirm.ejs'); %>
            <% } %>
        <%
        }
        else
        {
            %>
            <h1 class="blank-page">Invalid URL. Redirecting ...</h1>
            <script>
                setTimeout(function() {
                    window.location.href = "/";
                }, 2500);
            </script>
        <%
        }
    %>
    </body>
</html>